.slider {
  position: relative;
  margin: auto;
  width: 700px;
  height: 500px;

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__btn-left {
    position: absolute;
    height: 100%;
    width: 50px;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: gray;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
  }

  &__btn-right {
    position: absolute;
    height: 100%;
    width: 50px;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: gray;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }

}
