html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
}

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  background-color: #b6bbff;
  width: 200px;
  padding: 50px 10px 10px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.menu__btn {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #000;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #838383;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  cursor: pointer;
}

.menu__btn:hover::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 25px;
  height: 25px;
  background-color: #838383;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.menu__esc {
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
  background-color: #fff;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.menu__esc:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.menu__esc::before, .menu__esc::after {
  content: "";
  display: block;
  width: 17px;
  height: 1px;
  background-color: #000;
}

.menu__esc::before {
  -webkit-transform: rotate(-45deg) translate(-6px, 8px);
  -ms-transform: rotate(-45deg) translate(-6px, 8px);
  transform: rotate(-45deg) translate(-6px, 8px);
}

.menu__esc::after {
  -webkit-transform: rotate(45deg) translate(7px, 5px);
  -ms-transform: rotate(45deg) translate(7px, 5px);
  transform: rotate(45deg) translate(7px, 5px);
}

.menu__item {
  display: block;
  width: 100%;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  padding: 40px 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.menu__item:hover {
  -webkit-transform: translateY(-2px) scale(1.1);
  -ms-transform: translateY(-2px) scale(1.1);
  transform: translateY(-2px) scale(1.1);
}

.activeNav {
  left: 0;
}

.popup {
  position: fixed;
  top: -100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 30px;
  width: 80%;
  height: 300px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 1rem 2rem 1rem rgba(0, 0, 0, 0.3);
  box-shadow: 0 1rem 2rem 1rem rgba(0, 0, 0, 0.3);
  -webkit-transition: all .6s;
  -o-transition: all .6s;
  transition: all .6s;
  z-index: 1000;
}

.popup__esc {
  display: block;
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid black;
  cursor: pointer;
}

.popup__btn {
  position: absolute;
  top: 10px;
  left: 50%;
  display: inline-block;
  margin: auto;
  text-align: center;
  font-size: 15px;
  text-transform: capitalize;
  border: 1px solid black;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.popup__btn:hover {
  -webkit-transform: translateX(-50%) scale(1.2);
  -ms-transform: translateX(-50%) scale(1.2);
  transform: translateX(-50%) scale(1.2);
}

.activePop {
  top: 300px;
}

.tabs {
  padding: 20px 20px;
  overflow: hidden;
  overflow-y: scroll;
}

.tabs__link {
  position: fixed;
  left: 40px;
  bottom: 40px;
  display: inline-block;
  text-decoration: none;
  font-style: italic;
  font-size: 25px;
  color: black;
  cursor: pointer;
  -webkit-animation: tabsLink 1s ease-out infinite;
  animation: tabsLink 1s ease-out infinite;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  z-index: 1000;
}

.tabs__link:hover {
  color: #fd3333;
}

.tabs__btn {
  position: relative;
  display: inline-block;
  font-size: 30px;
  padding: 10px 10px;
  z-index: 5;
  cursor: pointer;
}

.tabs__content {
  position: relative;
  top: -1px;
  width: 90%;
  height: 300px;
  padding: 10px;
  border: 1px solid gray;
  z-index: 1;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.activeTab {
  border: 1px solid gray;
  border-bottom: 1px solid #fff;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}

@-webkit-keyframes tabsLink {
  0% {
    -webkit-transform: translateX(0) scale();
    transform: translateX(0) scale();
  }
  50% {
    -webkit-transform: translateX(10px) scale(1.2);
    transform: translateX(10px) scale(1.2);
  }
  100% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
  }
}

@keyframes tabsLink {
  0% {
    -webkit-transform: translateX(0) scale();
    transform: translateX(0) scale();
  }
  50% {
    -webkit-transform: translateX(10px) scale(1.2);
    transform: translateX(10px) scale(1.2);
  }
  100% {
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
  }
}
