html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.menu {
  position: relative;
  display: none;
  background-color: rgba(182, 187, 255, 0.5);
  width: 200px;
  padding: 50px 10px 10px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.menu__btn {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #000;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #838383;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.menu__btn:hover::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #838383;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.menu__esc {
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
  background-color: #fff;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.menu__esc:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.menu__esc::before, .menu__esc::after {
  content: "";
  display: block;
  width: 17px;
  height: 1px;
  background-color: #000;
}

.menu__esc::before {
  -webkit-transform: rotate(-45deg) translate(-6px, 8px);
  -ms-transform: rotate(-45deg) translate(-6px, 8px);
  transform: rotate(-45deg) translate(-6px, 8px);
}

.menu__esc::after {
  -webkit-transform: rotate(45deg) translate(7px, 5px);
  -ms-transform: rotate(45deg) translate(7px, 5px);
  transform: rotate(45deg) translate(7px, 5px);
}

.menu__item {
  display: block;
  width: 100%;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.menu__item:hover {
  -webkit-transform: translateY(-2px) scale(1.1);
  -ms-transform: translateY(-2px) scale(1.1);
  transform: translateY(-2px) scale(1.1);
}
